/* font-family: 'Lora', serif;
font-family: 'Muli', sans-serif; */

body {
	font-family: 'Muli', sans-serif;
}

/* * * * * * * * * *
Header
* * * * * * * * * */
.header {
	padding: 20px 0;
}

.header a {
	text-decoration: none;
}

.header__logo {
	font-size: 22px;
	font-weight: 700;
	color: #041122;
	text-transform: uppercase;
}

.navigation ul {
	display: inline-flex;
	margin-top: 6px;
	list-style: none;
	font-size: 15px;
	font-weight: 600;
}

.navigation ul li {
	margin-right: 30px;
}

.navigation__link a {
	color: #52575D;
	transition: all .1s ease-in;
}

.navigation ul li a:hover,
.navigation ul li a:active,
.navigation ul li a:focus {
	color: #f72464;
	border-bottom: 2px solid rgba(247, 36, 100, .7);
}

.shopping-bag {
	max-width: 25px;
	position: relative;
	font-weight: 700;
}

.bag__number {
	height: 19px;
	width: 19px;
	border-radius: 50%;
	background-color: #f72464;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	position: absolute;
	right: -7px;
	top: 15px;
}

/* * * * * * * * * *
Intro
* * * * * * * * * */

.intro {
	height: 600px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-image: url(../img/13833439-2.jpeg);
	background-repeat: no-repeat;
	background-position: right;
}

.intro__content {
	max-width: 750px;
}

.intro__title {
	font-size: 80px;
	font-family: 'Lora', serif;
	line-height: 1.25;
	color: #222;
	margin-bottom: 25px;
}

.intro__description {
	color: #52575d;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 50px;
}

.intro__btn {
	background-color: #f72464;
	font-size: 20px;
	color: #fff;
	font-family: 'Lora', serif;
	padding: 10px 45px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, .25);
	text-decoration: none;
	transition: all .2s ease-in;
}

.intro__btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #d03b50;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, .4);
}